{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>ClientName</th>
                <td>{{ project.clientName }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CheckpointDate</th>
                <td>{{ project.checkpointDate ? project.checkpointDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DeliveryDate</th>
                <td>{{ project.deliveryDate ? project.deliveryDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ project.deletedAt ? project.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_project_index') }}">
            <button>
                back to list
            </button>
    </a>

    <a href="{{ path('app_admin_project_edit', {'id': project.id}) }}">
            <button>
            edit
            </button>
    </a>

    {{ include('admin/project/_delete_form.html.twig') }}
{% endblock %}
